name: Build ZMK Corne

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - board: nice_nano
            shield: corne_left
          - board: nice_nano
            shield: corne_right

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build ZMK firmware
        uses: zmkfirmware/zmk-build-action@v1
        with:
          board: ${{ matrix.board }}
          shield: ${{ matrix.shield }}
          config: config

